<div>
  <div>
    <h1>Tweet&#0178</h1>
  </div>
  <hr>
  <div>
    <a href="/topics/all">
      <div>
        <h3>Start game</h3>
      </div>
    </a>
  </div>
  <div>
    <div class="collection with-header">
      <div class="collection-header"><h4>Or, select a topic!</h4></div>
      <% @topics.each do |topic| %>
        <a href="/topics/<%=topic.id%>" class="collection-item">
          <%=topic.topic%>
        </a>
      <% end %>
    </div>
  </div>
</div>
