<div>
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">Tweet&#0178</div>
    </div>
  </nav>
  <div class="center">
    <h5>
      <a href="/topics/all" class="waves-effect waves-light btn-large">
        Start game
      </a>
    </h5>
  </div>
  <div>
    <div class="collection with-header">
      <div class="collection-header"><h4>Or, select a topic!</h4></div>
      <% @topics.each do |topic| %>
        <a href="/topics/<%=topic.topic%>" class="collection-item">
          <%=topic.topic%>
        </a>
      <% end %>
    </div>
  </div>
</div>
