<div>
  <div>
    <h1>Tweet&#0178</h1>
  </div>
  <hr>
  <div>
    <a href="/topics/all">
      <div>
        <h3>Start game</h3>
      </div>
    </a>
  </div>
  <div>
    <div class="collection with-header">
        <div class="collection-header"><h2>Or, Select a topic!</h2></div>
        <% @topics.each do |topic| %>
            <div>
              <a href="/topics/<%=topic.id%>" class="collection-item">
                  <%=topic.topic%>
              </a>
            </div>
        <% end %>
    </div>
  </div>
</div>
