<<<<<<< 345c175045b5fe854df6e6722c3da10114ed755a
<div>
=======
<!DOCTYPE html>
<head>
</head>
<body>
  <div>
>>>>>>> Add William's branch for home and topics route
  <div>
    <h1>Tweet&#0178</h1>
  </div>
  <hr>
  <div>
    <a href="/topics/all">
      <div>
        <h3>Start game</h3>
      </div>
    </a>
  </div>
  <div>
    <h2>Or, select a topic!</h2>
    <div>
      <ul>
        <% @topics.each do |topic| %>
          <li>
            <div>
              <a href="/topics/<%=topic.id%>">
                <div>
                  <%=topic.topic%>
                </div>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
