#game-play-header {
  text-align: center;
}

#topic-specific-score {
  font-weight: bold;
}

#twitter-user {
  font-weight: bold;
=======
#game-over-text {
  text-align: center;
}

#final-score {
  font-weight: bold;
}

#play-again {
  text-align: center;
}

#twitter-share-button {
  text-align: center;
}
