#game-play-header {
  text-align: center;
}

#topic-specific-score {
  font-weight: bold;
}

#twitter-user {
  font-weight: bold;
}

#game-over-text {
  text-align: center;
}

#final-score {
  font-weight: bold;
}

#play-again {
  text-align: center;
}

#twitter-share-button {
  text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
